@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Taviraj&display=swap');

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 380px;
  margin: 0 auto;
}

body {
  color: #424551;
  font-family: Lato, sans-serif;
  line-height: 1.6;
}
.header{
margin-bottom: 40px;
}
h1,
h2 {
  color: #1E212C;
}
h1 {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
font-weight: 900;
font-size: 46px;
line-height: 1.3;
margin-bottom: 40px;
}

.list :nth-child(-n+5) {
  margin-bottom: 16px;
}
.list {
  margin-bottom: 30px;
}
.list li {
  padding-left: 30px;
}
.list li::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/vector.svg) 0 0 / 15px no-repeat;
  margin: 0 14px -3px -30px;
}
.button {
  padding: 16px 33px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 3.14;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
.link {
  margin-bottom: 50px;
}
.block-2 {
margin-bottom: 50px;
}
.block-2 p {
font-family: Taviraj;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #333;
}
.block-2 p::after {
content: "";
display: block;
width: 65px;
height: 1px;
background-color: #333;
margin: 8px 0 0 0;
}